.Marco_referencia_section {
    flex-grow: 1;
    padding: 2rem 3rem;
}

.MarcoReferencia_title {
    margin-top: 0;
}

.MarcoReferencia_paragraph {
    margin-top: 0;

    text-align: justify;
}

.MarcoReferencia_img {
    max-width: 480px;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-color);
    border-radius: 20px;
    border: thin solid #000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);

    overflow: hidden;
}

.MarcoReferencia_img img {
    max-width: 100%;
}

.MarcoReferencia figcaption {
    padding: 1rem;

    text-align: center;

    color: var(--main-color);
}

.MarcoReferencia_subtitle {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .MarcoReferencia {
        display: flex;
    }
}